.btn-primary {
	color: black;
	background: #e7e7e7;
}

.language {
	color: white;
	height: 5px;
	margin-right: 5px;
	float: right;
	list-style: none;
}

.actionButtons {
	display: inline-block;
	cursor: pointer;
	color: black;
	margin-right: 5px;
	padding: 8px 0;
	text-decoration: none !important;
}
.actionButtons:hover {
	color: black;
}

.navbar-brand {
	cursor: default;
	border-right: 3px solid white;
}
.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: lightgrey;
}

.container-fluid {
	background-color: rgb(73, 72, 72);
}

.NoteDrop {
	background-color: lightgrey;
}
